<ion-header>
            <ion-toolbar>
              <ion-title >{{page}}</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content >
            <ion-card>
              
              
                <ion-card-content style="text-align: center;">
                    <ion-item>
                       <ion-input placeholder="Client Name" style="margin-top:-10px;color:#666666;" [(ngModel)]="client"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input placeholder="Address" style="margin-top:-10px;color:#666666;" [(ngModel)]="address"></ion-input>
                     </ion-item>
                     <!-- <ion-item>
                        <ion-input placeholder="No of AMRS" style="margin-top:-10px;color:#666666;" [(ngModel)]="arm"></ion-input>
                     </ion-item> -->
                     <ion-item>
                        <ion-label>No of AMRS</ion-label>
                        <ion-select placeholder="Select ARM"  multiple="true" [(ngModel)]="arm" (ionChange)="selectARM($event)">
                          <ion-select-option  *ngFor="let device of arms">{{device.deveui}}</ion-select-option>
                          
                        </ion-select>
                      </ion-item>
                      <ul *ngFor="let item of selected_arms">
                      
                        <li style="text-align:left;">{{item.deveui}} : <input type="text" value="{{item.flats}}" (blur)="assign_flats(item.deveui,$event.target.value)" style="border-radius:10px;text-align: center;border-color: #49c5b6;" placeholder="Enter flat no." /></li>
                        
                      </ul>
                     <ion-item>
                        <ion-input placeholder="Authorized Person" style="margin-top:-10px;color:#666666;" [(ngModel)]="person"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input placeholder="No of Wings" style="margin-top:-10px;color:#666666;" [(ngModel)]="wings"></ion-input>
                     </ion-item>
                     <!-- <ion-item>
                        <ion-input placeholder="No of Flats" style="margin-top:-10px;color:#666666;" [(ngModel)]="flats"></ion-input>
                     </ion-item> -->
                     
                     <ion-item>
                        <ion-input placeholder="Project Name" style="margin-top:-10px;color:#666666;" [(ngModel)]="project"></ion-input>
                     </ion-item>
                     <!-- <ion-item>
                        <ion-input placeholder="Account Details" style="margin-top:-10px;color:#666666;" [(ngModel)]="account"></ion-input>
                     </ion-item> -->
                     <ion-item>
                        <ion-input placeholder="Email ID" style="margin-top:-10px;color:#666666;" [(ngModel)]="email"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input placeholder="Mobile No" style="margin-top:-10px;color:#666666;" [(ngModel)]="mobile"></ion-input>
                     </ion-item>
    
    
                            <ion-button expand="block" style="width:50%;color:white;float: right;
                            margin-top: 20px;margin-bottom: 20px;" color="shade"(click)="create()" *ngIf="create_show">Create</ion-button>

<ion-button expand="block" style="width:50%;color:white;float: right;
margin-top: 20px;margin-bottom: 20px;" color="shade" (click)="update()" *ngIf="update_show">Update</ion-button>
    
                </ion-card-content>
              </ion-card>
          </ion-content>