<ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">Add Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
      <ion-card>
  
    <div class="p-grid p-justify-center" style="margin-top: 3vh;">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">Client Name</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text1"> 
      </div>
     
  </div>
  <div class="p-grid p-justify-center">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">Address</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text2"> 
      </div>
     
  </div>
  <div class="p-grid p-justify-center">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">No Of ARMS</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text3"> 
      </div>
     
  </div>
  <div class="p-grid p-justify-center">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">Project Name</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text4"> 
      </div>
     
  </div>
  

  <div class="p-grid p-justify-center">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">Email Id</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text7"> 
      </div>
     
  </div>
  <div class="p-grid p-justify-center">
      <div class="p-col-2" style="padding-top: 2vh;">
       
          <ion-label position="floating">Mobile No</ion-label>
        
      
      </div>
      <div class="p-col-2"  p-justify-left>
        <input id="input" type="text" size="30" pInputText [(ngModel)]="text8"> 
      </div>
     
  </div>
  <div class="p-grid p-justify-center">
      <ion-button size="large" color="shade"  type="submit"  expand="block" (click)="presentToast()">Save</ion-button>
     
  </div>
</ion-card>
  
  <ion-card>

    
      <div class="p-grid p-justify-center">
          <div class="p-col-2" style="padding-top: 2vh;">
           
              <ion-label position="floating">Admin Login Id</ion-label>
            
          
          </div>
          <div class="p-col-2 p-justify-left">
              <ion-label position="floating">ABC@1234</ion-label>
          </div>
         
      </div>
      <div class="p-grid p-justify-center">
          <div class="p-col-2" style="padding-top: 2vh;">
           
              <ion-label position="floating">Admin Password : </ion-label>
            
          
          </div>
          <div class="p-col-2  p-justify-left">
              <ion-label position="floating">***********</ion-label>
          </div>
         
      </div>
         
    </ion-card>
    
    
    </ion-content>