ion-button {
  border-radius:50px ;
  background-color: #49c5b6 !important;
  --box-shadow:none;
  color:white
  
  }

  ion-toolbar{
--background: #2a3f54;
color:#fff;

  }

  ion-item{
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
   margin-top:10px;height:40px;border-radius: 25px;
  }





  