<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon end name="close" md="md-close" style="background-color: transparent;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Device Activity
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="margin-bottom: 10px;margin-left: 20px;margin-top: 30px">There are no payloads for device: <b>{{device}}.</b></p>
          <ion-grid>
                
              <ion-row>
                <ion-col>
                    <!-- <ion-button  shape="round" color="shade" expand="full" ><ion-icon name="add"></ion-icon> Send Data</ion-button> -->
                </ion-col>
                <ion-col>
                    <!-- <ion-button shape="round" expand="full" color="shade" (click)="selectDevice()"><ion-icon name="add"></ion-icon> Select Device</ion-button> -->
                </ion-col>
                <ion-col>
                    <ion-button shape="round" expand="full" color="shade" ><ion-icon name="refresh"></ion-icon>  Refresh List</ion-button>
                </ion-col>
              
              
              </ion-row>
            </ion-grid>

            <ion-card-content>
              <ag-grid-angular
              style="width: 100%; height: 600px;"
              class="ag-theme-balham"
              [columnDefs]="columnDefs"
              [rowData]="rowData"
              [enableSorting]="true"
              [animateRows]="true"
              [pagination]="true"
              [paginationPageSize]="50"
              [enableFilter]="true"
              [floatingFilter]="true"
              [suppressRowClickSelection]="true"
              [rowSelection]="rowSelection">
              </ag-grid-angular>
          </ion-card-content>
</ion-content>
