<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Add Device</ion-title>
    <!-- <button ion-button icon-only (click)="closeModal()">
        

    </button> -->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon end name="close" md="md-close" style="background-color: transparent;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="padding-top: 27px;">
        <ion-label>DEVEID</ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-card>
          <ion-input type="text" [(ngModel)]="addDeviceID"></ion-input>
        </ion-card>

        <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;">The devEUI is a 8-byte
          unique identified based on IEEE EUI-64. Mandatory</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 27px;">
        <ion-label>Comment</ion-label>
      </ion-col>
      <ion-col size="10">
        <ion-card>

          <ion-input clearInput="true" [(ngModel)]="comment"></ion-input>


        </ion-card>

        <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;">The devEUI is a 8-byte
          unique identified based on IEEE EUI-64. Mandatory</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ui-fluid" style="padding-top: 2vh;">
    <p-selectButton [options]="types" [(ngModel)]="selectedType" name="Profiles" (onOptionClick)="onOptionClick($event)">
    </p-selectButton>
  </div>
  <!-- <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton> -->

  <div style="margin-top: 5vh; background-color: darkgrey;" *ngIf="!profile">
    <ion-row>
      <ion-col>
        <label>Device Profile</label>
      </ion-col>
      <ion-col size="9">
        <p-dropdown autowidth="false" [style]="{'width':'100%'}" [options]="cities" [(ngModel)]="selectedCity"
          placeholder="Select a Device Profile" optionLabel="name" [showClear]="true"></p-dropdown>
      </ion-col>
      <!-- <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;    margin-left: 195px;margin-top: 42px;">Registered Device Class</ion-label> -->
    </ion-row>
    <ion-row>
      <ion-col>
        <label>Service Profile</label>
      </ion-col>
      <ion-col size="9">

        <p-dropdown autowidth="false" [style]="{'width':'100%'}" [options]="service" [(ngModel)]="selectedCity"
          placeholder="Select a Service Profile" optionLabel="name" [showClear]="true"></p-dropdown>
      </ion-col>
      <!-- <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;    margin-left: 195px;margin-top: 42px;">Registered Device Class</ion-label> -->
    </ion-row>
  </div>
  <div style="margin-top: 5vh; background-color: darkgrey;height: 21vh;" *ngIf="!key">
    <ion-row>
      <ion-col>
        <label>Device Class</label>
      </ion-col>
      <ion-col size="9">

        <ion-row>
          <p-selectButton [options]="keysDevice" [(ngModel)]="selectedkeyDevice"></p-selectButton>
        </ion-row>
        <ion-row>
          <p style="font-size:11px">Supported Device Class</p>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;    margin-left: 195px;margin-top: 42px;"></ion-label> -->

    <ion-row>
      <ion-col>
        <label>Activated</label>
      </ion-col>
      <ion-col size="9">
        <ion-row>
          <p-selectButton [options]="keyActivated" [(ngModel)]="selectedkeyActivated"></p-selectButton>
        </ion-row>
        <ion-row>
          <p style="font-size:11px;">Select Yes to allow the device to actively operate on the network. If a device not
            Activated, no data will be received from it and data cannot be sent to it.</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div style="margin-top: 5vh; background-color: darkgrey;height: 13vh;" *ngIf="!additional">
    <ion-grid>
      <ion-row>
        <ion-col style="padding-top: 27px;">
          <ion-label>Options</ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-card>

            <ion-input style="background-color: white;" clearInput="true" [(ngModel)]="option"></ion-input>
            

          </ion-card>

          <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;">The Options is a 4 byte
            hex value. Normally left blank.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="padding-top:3vh">
    <ion-button style="color:black" size="small" float-right fill="outline">Cancel</ion-button>
    <ion-button size="small" style="background-color:gray;" float-right (click)="finalCall()">OK</ion-button>
  </div>
</ion-content>