
.sc-ion-segment-md-h {
    --background: none;
    --background-checked: none;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.04);
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --color-checked: white;
    --color-checked-disabled: var(--color-checked);
    --indicator-color: transparent;
    --background-checked: red;
}

.custom-toolbar{
    --background: #182535;color:#fff
  }
  .button-native{
      --background-color:red
  }

  .ion-segment-button{
    //max-width: 25px;
    border-style: solid;
  }
  
  .segment-button {
    border-style: none;
    border-color: #e62100;
    color: #e62100;
    border-width: thin;
  }

.ui-dropdown {
    background: #ffffff;
    border: 1px solid #a6a6a6;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    width: 100%;
}

body .ui-selectbutton .ui-button {
    background-color: #dadada;
    /* border: 1px solid #dadada; */
    color: #333333;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
    width:233.33px
}