

<ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-title>Add Device W/O Profile</ion-title>
      <!-- <button ion-button icon-only (click)="closeModal()">
          
  
      </button> -->
      <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
          <ion-icon end name="close" md="md-close" style="background-color: transparent;"></ion-icon>
        </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col  style="margin-top:3vh"><ion-label >DEVEID</ion-label></ion-col>
                <ion-col size="10">
                  <ion-card>
              
                    <ion-input  clearInput="true" ></ion-input>
                    <!-- [(ngModel)]="addDeviceID" -->
               
                </ion-card>
  
                  <ion-label style="color: black;font-size:8px;position: absolute;margin-left: 18px;">The devEUI is a 8-byte unique identified based on IEEE  EUI-64. Mandatory</ion-label></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="margin-top:3vh"><ion-label >Comment</ion-label></ion-col>
                    <ion-col size="10">
                        <ion-card>
                   
                        <ion-input  clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                  
                      </ion-card>
  
                      <ion-label style="color: black;font-size:8px;position: absolute;margin-left: 18px;">The devEUI is a 8-byte unique identified based on IEEE  EUI-64. Mandatory</ion-label></ion-col>
                    </ion-row>
                </ion-grid>
                <div class="ui-fluid"  style="padding-top: 2vh;">
                <p-selectButton [options]="types" [(ngModel)]="selectedType" (onOptionClick)="onOptionClick($event)" ></p-selectButton>
            </div>
  <div *ngIf="!keys">
                <ion-row>
                    <ion-col style="margin-top:1vh"><ion-label >Activated</ion-label></ion-col>
                    <ion-col size="10" >
                        <p-selectButton [options]="activatedType" [(ngModel)]="ActivatedSelectType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                  </ion-col>
                </ion-row>
                <p style="font-size: 12px;margin-left:15vh">Select Yes to allow the device to actively operate on the network. If a device not activated, no data will be received from it and data cannot be sent to it.</p>
                <ion-row>
                    <ion-col style="margin-top:1vh"><ion-label >Downlink Enabled</ion-label></ion-col>
                    <ion-col size="10" >
                        <p-selectButton [options]="DownlinkType" [(ngModel)]="DownlinkSelectType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                      </ion-col>
                    </ion-row>
                        <p style="font-size: 12px;margin-left:15vh">Select Yes to allow the network to send downlink on the network. If a not allowed, the network will not send any user payloads to thw device.</p>

                    <ion-row>
                         <ion-col style="margin-top:2vh"><ion-label >Registration Type</ion-label></ion-col>
                        <ion-col style="margin-top:1vh">
                            <p-selectButton [options]="registrationType" [(ngModel)]="registrationSelectType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                          </ion-col>
                  <ion-col style="margin-top:2vh"><ion-label >LoRA WAN Mac Version</ion-label></ion-col>
                  <ion-col>
                    <ion-card>
                      <ion-input  clearInput="true" type="number" ></ion-input>
                      <!-- [(ngModel)]="addDeviceID" -->
                  </ion-card></ion-col>
                </ion-row>
                <p style="font-size: 12px;margin-left:15vh">personalised devices have pre-generated session keys and will not perform the JOIN procedure.</p>
                <ion-row>
                    <ion-col  style="margin-top:3vh"><ion-label >App Key</ion-label></ion-col>
                    <ion-col size="10">
                      <ion-card>
                      <ion-item>
                        <ion-input  clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                      </ion-item>
                    </ion-card>
      </ion-col>
                    </ion-row>
                    <p style="font-size: 12px;margin-left:15vh">The App Key is a 16-byte encryption key used the data payloads. If provided all encryption is managed by the network. If not provided, the payload encryption must be managedby the application.Optional.</p>
          </div>
          <div *ngIf="!QoS">
              <ion-grid>

                  <ion-row>
                      <ion-col style="margin-top:1vh" size="2"><ion-label >Device Properties</ion-label></ion-col>
                      <ion-col  size="5">
                          <p-selectButton [options]="devicePropertiesStaMob" [(ngModel)]="devicePropertiesStaMobType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                    </ion-col>
                    <ion-col size="5" >
                        <p-selectButton [options]="devicePropertiesInOUt" [(ngModel)]="devicePropertiesInOUtType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                  </ion-col>
                    <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select Device Properties or not specified.</label> -->
                  </ion-row>
                  <p style="font-size:12px;margin-left:19vh">Select Device Properties or not specified.</p>
                  <ion-row>
                      <ion-col style="margin-top:1vh"><ion-label >QoS Class</ion-label></ion-col>
                      <ion-col size="10">
                          <p-selectButton [options]="qosClass" [(ngModel)]="qosClassType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                    </ion-col>
                    <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select the QoS level for the device.</label> -->
                  </ion-row>
                  <p style="font-size:12px;margin-left:19vh">Select the QoS level for the device.</p>

                  <ion-row>
                      <ion-col style="margin-top:1vh"><ion-label >Uplink redundancy</ion-label></ion-col>
                      <ion-col size="10">
                          <p-selectButton [options]="uplinkType" [(ngModel)]="uplinkSelectType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                    </ion-col>
                    <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select number of transmissions device will do for each uplink. Setting the count to 1 means no reduncancy.</label> -->
                  </ion-row>
                  <p style="font-size:12px;margin-left:19vh">Select number of transmissions device will do for each uplink. Setting the count to 1 means no reduncancy.</p>
                  <ion-row>
                    <ion-col  style="margin-top:3vh"><ion-label >Allowed duty cycle</ion-label></ion-col>
                    <ion-col size="9.5">
                      <ion-card>
                  
                        <ion-input  clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                   
                    </ion-card>
                  </ion-col>
                    </ion-row>
                    <p style="font-size:12px;margin-left: 19vh;">Specify the maximum dutycycle in % the device is allowed. If it is exceeded the network try to enforce it. Optional.</p>
                    <ion-row>
                        <ion-col style="margin-top:3vh"><ion-label >Expected duty cycle</ion-label></ion-col>
                        <ion-col size="9.5">
                            <ion-card>
                       
                            <ion-input  clearInput="true" ></ion-input>
                            <!-- [(ngModel)]="addDeviceID" -->
                      
                          </ion-card>
                        </ion-col>
                        </ion-row>
                        <p style="font-size:12px;margin-left: 19vh;">Specify the expected average duty cycle. Optional.</p>
                    </ion-grid>

          </div>
          <div *ngIf="!packetStorage">
              <ion-grid>
                  <ion-row>
                    <ion-col  style="margin-top:3vh"><ion-label >Downlink Packet Expiry Time</ion-label></ion-col>
                    <ion-col size="9">
                      <ion-card>
                  
                        <ion-input  clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                   
                      </ion-card>
                    </ion-col>
                    </ion-row>
                    <p style="font-size:12px;margin-left: 20vh;">Time in hours that a downlink packet is stored in the persistent storage. After expiry the packet will be discarded regardless if the packet was sent or not, or if the applicaiton have seen the status of the packet.</p>
                    <ion-row>
                        <ion-col style="margin-top:3vh"><ion-label >Uplink Packet Expiry Time</ion-label></ion-col>
                        <ion-col size="9">
                            <ion-card>
                       
                            <ion-input  clearInput="true" ></ion-input>
                            <!-- [(ngModel)]="addDeviceID" -->
                      
                          </ion-card>
                        </ion-col>
                        </ion-row>
                        <p style="font-size:12px;margin-left: 20vh;">Time in hours that a received packet will be stored in the persistent storage. After expiry the packet will be discarded regardless if the packet have been read or not.</p>
                    </ion-grid>
          </div>
          <div *ngIf="!LoRaParameters" style="padding-top:2vh">
              <ion-row>
                  <ion-col size="3">
                      <label>LoRaWAN Mac Version</label>
                  </ion-col>
                  <ion-col size="2">
                      <p-dropdown autowidth="false" [style]="{'width':'100%'}" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a Profile" optionLabel="name" [showClear]="true"></p-dropdown>
                  </ion-col>
                  <p-selectButton [options]="MacVersion" [(ngModel)]="MacVersionType" ></p-selectButton>
                </ion-row>
                <ion-row>
                    <ion-col  style="margin-top:3vh"><ion-label >MaxEIRP</ion-label></ion-col>
                    <ion-col size="10">
                      <ion-card>
                      <ion-item>
                        <ion-input  clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                      </ion-item>
                    </ion-card>
      </ion-col>
                    </ion-row>
                    <p style="font-size: 12px;margin-left:15vh">Maximum output power in dBm of the device. This is only applicable to 1.0.2 Rev B or later devices.</p>
                    <ion-row>
                        <ion-col style="margin-top:1vh"><ion-label >Device Class</ion-label></ion-col>
                        <ion-col size="10">
                            <p-selectButton [options]="deviceClass" [(ngModel)]="deviceClassType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                      </ion-col>
                      <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select the QoS level for the device.</label> -->
                    </ion-row>
                    <p style="font-size: 12px;margin-left:15vh">Supported device class.</p>
                    <ion-row>
                        <ion-col style="margin-top:1vh"><ion-label >FCNT Size</ion-label></ion-col>
                        <ion-col size="10">
                            <p-selectButton [options]="fcntSize" [(ngModel)]="fcntSizeType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                      </ion-col>
                      <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select the QoS level for the device.</label> -->
                    </ion-row>
                    <p style="font-size: 12px;margin-left:15vh">Select size of FCNT.</p>
                    <ion-row>
                        <ion-col style="margin-top:1vh"><ion-label >Downlink slot delay</ion-label></ion-col>
                        <ion-col size="10">
                            <p-selectButton [options]="downSlotDelay" [(ngModel)]="downSlotDelayType" (onOptionClick)="ActivatedSelectType($event)" ></p-selectButton>
                      </ion-col>
                      <!-- <label style="color: black;font-size:9px;position: absolute;margin-left: 18px;">Select the QoS level for the device.</label> -->
                    </ion-row>
                    <p style="font-size: 12px;margin-left:15vh">Select default delay from end of tranmission till the device listen for downlink. This parameter is only important for personalized devices.</p>
                    <ion-row>
                        <ion-col >
                            <label>RX Slot 2</label>
                        </ion-col>
                        <ion-col size="10">
        
                            <p-dropdown autowidth="false" [style]="{'width':'100%'}" [options]="rsSlot" [(ngModel)]="rsSlotType" placeholder="Select a Slot" optionLabel="name" [showClear]="true"></p-dropdown>
                        </ion-col>
                        <p style="font-size: 12px;margin-left:15vh">Data rate (spreading factor and Bandwidth) used by default in downlink for slot-2 and for class C.</p>
                          <!-- <ion-label style="color:black;font-size:11px;position: absolute;margin-left: 18px;    margin-left: 195px;margin-top: 42px;">Registered Device Class</ion-label> -->
                      </ion-row>
       
                  </div>
          <div *ngIf="!LoRaLocation">
                <ion-grid>
                <ion-row>
                  <ion-col style="margin-top:1vh">
                    <ion-label >LoRa Location</ion-label>
                  </ion-col>
                  <ion-col size="10" >
                      <p-selectButton [options]="loRaLocationType" [(ngModel)]="LoRaLocationSelectedType" (onOptionClick)="LoRaLocation($event)" ></p-selectButton>
                  </ion-col>
                </ion-row>
                <p style="font-size: 12px;margin-left: 19vh;"></p>
              </ion-grid>
          
          </div>



          <div  *ngIf="!Additional">
           
              <ion-grid>
                  <ion-row>
                    <ion-col  style="margin-top:3vh"><ion-label >Options</ion-label></ion-col>
                    <ion-col size="11">
                      <ion-card>
                      
                        <ion-input   style="background-color: white;" clearInput="true" ></ion-input>
                        <!-- [(ngModel)]="addDeviceID" -->
                    
                    </ion-card>
                  </ion-col>
                    </ion-row>
                    <p style=" font-size:12px;margin-left: 15vh;">The Options is a 4 byte hex value. Normally Left blank.</p>
                    </ion-grid>
                 
                  </div>
        <div style="padding-top:3vh;">
              <ion-button style="color:black" size="small"  float-right fill="outline" >Cancel</ion-button>
            <ion-button size="small"  float-right >OK</ion-button>
           </div>
           
  
  
  </ion-content>
  
