<ion-header >
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
      <ion-title>
        Admin List
      </ion-title>
      <div (click)="logout()" slot="end">
        <ion-icon  name="log-out" style="margin-right: 15px;font-size: 25px;" ></ion-icon>
      </div>
     
    </ion-toolbar>
   
  </ion-header>
      
      <ion-content>

        <!-- <span class="ui-float-label" style="margin-top: 2vh;margin-left: 1vh;">
            <input id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">Username</label>
        </span> -->

        <ion-card>
      <ion-card-content>
          <ag-grid-angular
          style="width: 100%; height: 400px;"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [animateRows]="true"
          [enableSorting]="true"
          [animateRows]="true"
          [pagination]="true"
          [paginationPageSize]="50"
          [enableFilter]="true"
          [floatingFilter]="true"
          [suppressRowClickSelection]="true"
          (gridReady)="onGridReady($event)"
         >
          </ag-grid-angular>
      </ion-card-content>
      
          </ion-card>

          <ion-grid>
                
            <ion-row>
              <ion-col>
                  <ion-button  shape="round" color="shade" expand="full" (click)="add()"><ion-icon name="add" ></ion-icon> Add Admin</ion-button>
              </ion-col>
              <ion-col>
                  <ion-button shape="round" expand="full" color="shade" (click)="edit()"><ion-icon name="create" ></ion-icon> Edit Admin</ion-button>
              </ion-col>
              <ion-col>
                  <ion-button shape="round" expand="full" color="shade" (click)="AlertConfirmDelete()" ><ion-icon name="trash"></ion-icon> Delete Admin</ion-button>
              </ion-col>
              <ion-col>
                <ion-button  shape="round" color="shade" expand="full" (click)="viewDetails()"><ion-icon name="add" ></ion-icon> View</ion-button>
            </ion-col>
            <ion-col>
              <ion-button  shape="round" color="shade" expand="full" (click)="addAMR()"><ion-icon name="add" ></ion-icon> Add ARM</ion-button>
              <ion-button  shape="round" color="shade" expand="full" (click)="onBtnExport()"><ion-icon name="add" ></ion-icon> Download file</ion-button>
          </ion-col>
            
            </ion-row>
          </ion-grid>

        
      </ion-content>
      

 
 