.header_style{
    font-size: 5vh;
}
.sub_header_style{
    font-size: 2vh;
    padding-left: 5vh;
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
.subtitle {
    position: absolute;
    top: 2vw;
    left:7.8vh;
    font-size: 66%;
  }
