
 <div style="text-align: center;">
 <!-- <ion-button  color="danger" style="height: 20px;margin-top: -5px;"(click)="editRow()">Edit</ion-button> -->
<ion-button color="danger" style="height: 20px;margin-top: -5px;" (click)="viewRow()">View</ion-button>
<!-- <ion-button color="danger" style="height: 20px;margin-top: -5px;" (click)="viewRow()">Delete</ion-button>  -->
<!-- <ion-label (click)="action()">Action   <ion-icon name="ios-arrow-down"></ion-icon></ion-label> -->

</div> 
<!-- <p-overlayPanel #op>
        Content
    </p-overlayPanel>
    
    <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->


    