<ion-app>
<ion-split-pane disabled>
    <ion-menu type="overlay">
<!-- <ion-header >
    <ion-toolbar color="primary">
      <ion-title>
        Home
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="automaticClose= !automaticClose">
          <ion-icon slot="icon-only" name="close" *ngIf="automaticClose"></ion-icon>
          <ion-icon slot="icon-only" name="resize" *ngIf="!automaticClose"></ion-icon>
        </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  
  <ion-content>
      <div style="width:100%;height:200px;background-color:#2a3f54;text-align: center;"> 
          <img  src="assets/imgs/transparent_logo.png"  style="background-color: white;width: 70%;height: 65px;border-radius: 20px;margin-top: 5%;"/>
          <div style="color: white;margin-top: 20%;">
             {{username}}
          </div>
        </div>
    <ion-list *ngFor="let item of information; let i =index;" class="accordion-list" llines="none" detail="false" no-padding>
<ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active':item.open, 'section': !item.open}">
    <ion-icon slot="end" name="arrow-dropright" *ngIf="!item.open"></ion-icon>
    <ion-icon name="arrow-dropdown" slot="end" *ngIf="item.open"></ion-icon>
   
  <ion-label >
    {{item.name}}
  </ion-label>
</ion-item>
<div *ngIf="item.children && item.open">
  <ion-list *ngFor="let child of item.children; let j= index;"  class="child-list">
        <ion-label (click)="toggleItem(i,j)">
          {{child.name}}
        </ion-label>
       
  </ion-list>
 
</div>
    </ion-list>
    <ion-list  style="padding:0px">
        <ion-item (click)="logout()">
          
                <ion-icon  name="log-out" style="margin-right: 15px;font-size: 25px;" slot="end"></ion-icon>
             
            <ion-label>Logout</ion-label>
          </ion-item>
       
  </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>

  <!-- <ion-app>
  <ion-split-pane disabled>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list >
          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          
<!--          <ion-item-group>
              <ion-item-divider icon="construct"(click)="subList('device')" color="light">Devices
              </ion-item-divider>
                
              <ion-item 
                    *ngFor="let device of devices" lines="none">
                    <ion-icon name="{{ device.icon }}" item-left></ion-icon>
                    {{ device.name }}
                 </ion-item>
               
           </ion-item-group>
            <ion-item-group>
              <ion-item-divider (click)="subList('group')" color="light">Groups</ion-item-divider>
                 <ion-item
                    *ngFor="let group of groups" lines="none">
                    <ion-icon name="{{ group.icon }}" item-left></ion-icon>
                    {{ group.name }}
                 </ion-item>
           </ion-item-group>
           <ion-item-group>
              <ion-item-divider (click)="subList('profile')" color="light">Profiles</ion-item-divider>
                 <ion-item style="animation: backwards;"
                    *ngFor="let profile of profiles"
                    (click)="sectionToLoad(profile)" lines="none">
                    <ion-icon name="{{ profile.icon }}" item-left></ion-icon>
                    {{ profile.name }}
                 </ion-item>
           </ion-item-group>
            <ion-item-group>
              <ion-item-divider  (click)="subList('find')" color="light">Find</ion-item-divider>
                 <ion-item 
                    *ngFor="let find of find"
                    (click)="sectionToLoad(find)" lines="none">
                    <ion-icon name="{{ find.icon }}" item-left></ion-icon>
                    {{ find.name }}
                 </ion-item>
           </ion-item-group>
         <ion-item-group>
             <ion-item-divider   (click)="subList('account')"color="light">Accounts</ion-item-divider>
                <ion-item 
                   *ngFor="let account of accounts"
                   (click)="sectionToLoad(account)" lines="none">
                   <ion-icon name="{{ account.icon }}" item-left></ion-icon>
                   {{ account.name }}
                </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->