<ion-content>

        <ion-header >
                <ion-toolbar class="custom-toolbar">
                  <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
                  <ion-title>
                    Devices
                  </ion-title>
                  <ion-icon (click) ="search()"name="funnel" slot="end" style="font-size: 24px;margin-right: 15px;"></ion-icon>
                </ion-toolbar>
              </ion-header>


              <div *ngIf="showfilter">
               
 <ion-searchbar  placeholder="Search Deveui" mode="ios" expand="full"  (keyup)="updateFilter($event)"></ion-searchbar>
                
 <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2010" ></ion-datetime>
  </ion-item>
  <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2010" ></ion-datetime>
    </ion-item>
                      
              
            </div>

              <ion-grid>
                
                <ion-row>
                  <ion-col>
                      <ion-button  shape="round" color="shade" expand="full" ><ion-icon name="add"></ion-icon> Add Device</ion-button>
                  </ion-col>
                  <ion-col>
                      <ion-button shape="round" expand="full" color="shade" ><ion-icon name="add"></ion-icon>  Add Device w/o profile</ion-button>
                  </ion-col>
                  <ion-col>
                      <ion-button shape="round" expand="full" color="shade" ><ion-icon name="refresh"></ion-icon>  Refresh List</ion-button>
                  </ion-col>
                
                
                </ion-row>
              </ion-grid>
 
    
     
           
      <div padding>    <ngx-datatable 
      [ngClass]="tableStyle"
      [rows]="companies"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      [scrollbarH]="true" 
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>   
      <ngx-datatable-column name="Deveui" [width]="200"></ngx-datatable-column>
      <ngx-datatable-column name="Comment" color="primary"></ngx-datatable-column>
      <ngx-datatable-column name="Groups"></ngx-datatable-column>
      <ngx-datatable-column name="Applications"></ngx-datatable-column>
      <ngx-datatable-column name="Bulk Actions" sortable="false" prop="id">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <a (click)="action()">Action</a>  
           </ng-template>
      </ngx-datatable-column>
   
  
    </ngx-datatable>

   

  </div>  
</ion-content>

