<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
     
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-list>
        <ion-item-divider>
          <ion-label>
            Name
          </ion-label>
        </ion-item-divider>
      
        <ion-item><ion-label>{{name}}</ion-label></ion-item>
 
      
        <ion-item-divider>
          <ion-label>
            Email
          </ion-label>
        </ion-item-divider>
      
        <ion-item><ion-label>{{email}}</ion-label></ion-item>

        <ion-item-divider>
            <ion-label>
              Address
            </ion-label>
          </ion-item-divider>
        
          <ion-item><ion-label>{{address}}</ion-label></ion-item>

          <ion-item-divider>
              <ion-label>
                Mobile
              </ion-label>
            </ion-item-divider>
          
            <ion-item><ion-label>{{mobile}}</ion-label></ion-item>

            <ion-item-divider>
                <ion-label>
                  Project Name
                </ion-label>
              </ion-item-divider>
            
              <ion-item><ion-label>{{project_name}}</ion-label></ion-item>
      </ion-list>
     
  
     
     
     
      
  </ion-content>