<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Edit Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <p-card  >

  <div class="p-grid p-justify-center" style="margin-top: 3vh;">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Client Name</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text1"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Authorized Person</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text2"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">No Of Wings</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text3"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">No oF fLAGS</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text4"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Project Name</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text5"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Account Details</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text6"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Email Id</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text7"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2" style="padding-top: 2vh;">
     
        <ion-label position="floating">Mobile No</ion-label>
      
    
    </div>
    <div class="p-col-2"  p-justify-left>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text8"> 
    </div>
   
</div>
<div class="p-grid p-justify-center">
    <ion-button size="large" color="shade"  type="submit"  expand="block" (click)="presentToast()">Save Edit</ion-button>
   
</div>
</p-card>

</ion-content>