@media screen and (min-width: 600px) {  
    .center-login {
      width: 600px;
      margin: 0 auto;
    }
  }
  ion-button {
    border-radius:10px ;
    background-color: #d32715 !important;
    --box-shadow:none;
    height: 5vh;
    margin-top: 3vw;
    margin-bottom: 3vh;
    
    }
    