<ion-content>
    <ion-header >
        <ion-toolbar class="custom-toolbar">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Sign In
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
           
          </div>
          <div padding>
          
       
            <div style="height: 8vh;width: 100%;"></div>
            <ion-img src="http://eminentgas.com/images/logo.png" style="height: 12vh;width:70%;margin-left: 12.5%;"></ion-img>
            <div style="height: 6vh;width: 100%;"></div>
            <ion-item>
              <ion-label position="floating" class="custom-label">User ID</ion-label>
              <ion-input name="userid" type="userid" autocorrect="on" clearInput="true" [(ngModel)]="userid" clearOnEdit="true"></ion-input>
              <ion-icon name="person" class="custom-icon" slot="start"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-label position="floating"  class="custom-label" >Password</ion-label>
              <ion-input name="pwd" type="pwd" autocorrect="on"  clearInput="true" [(ngModel)]="pwd" type="password" clearOnEdit="true"></ion-input>
              <ion-icon name="lock" class="custom-icon" slot="start"></ion-icon>
            </ion-item>
            
   
            
          </div>
          <div padding>
              <ion-button size="large" color="shade"  type="submit"  expand="block" (click)="login()">Login</ion-button>

            <!-- <ion-button size="large" color="shade" type="submit" [disabled]="form.invalid" expand="block" (click)="login()">Login</ion-button> -->
          </div>
        </ion-col>
      </ion-row>
   
      
    </ion-grid>
    <button ion-button (click)="openModal()">Add Device</button>




  
</ion-content>