<ion-header>
  <ion-toolbar>
    <ion-title>Welcome To Menu Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button color="light" size="small" (click)="addAdmin()">Add Admin</ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="light" size="small" (click)="adminList()">Admin List</ion-button>
                </ion-col>
                </ion-row>
                </ion-grid>
</ion-content>
